.vertical-center {
    min-height: 93vh;
 
    display: flex;
    align-items:  center;
}

.img-fluid {
    height: 70px;
    width: 70px;
    align-self: center;
}

body {
    color: papayawhip;
    background-size: cover;

}

#main {
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;

}

.btn {
    outline: none;
    background-color: unset;
    font-size: 3em;
    color: white;
    font-weight: bolder;
    font-family: 'Cantata One';
}

.card {
    color: black;
}

.footer {
    bottom: 0;
    text-align: center;
}

.description {
    font-size: 0.8em;
}

.title{
    font-family: 'Federant';
    font-weight: bolder;
}

.dateandtime, .description {
    font-family: 'Quicksand';
}